
#header
{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
#content
{
    margin-top: 50px;
    margin-left: 25px;
    padding: 20px;

}
#sidebar
{
    margin-bottem:200px;
    float: left;
    width: 50px;
}
#footer
{
    margin: 0;
    padding: 10px;
    text-align: center;
}
textarea, input[type=number], input[type=url]
{
    height: 1.25em;
    width: 25em;
}

table {

    width: 50%;
}
th, td {

    padding: 5px;
}

