{% extends "icommerce/base.html" %}
{% block content %}
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
</style>
</head>
<body>

<h1>
    {{botiga.nom_botiga }}
    {% if user == botiga.user %}
        (<a href="{% url 'icommerce:botiga_edit' botiga.id %}">edit</a>)
    {% endif %}
</h1>

<h2>Detalls:</h2>

<table style="width: 100%">
		<thead>
			<td><b>nomBotiga</b></td>
			<td><b>tipus</b></td>
			<td><b>id</b></td>
            <td><b>user</b></td>
            <td><b>date</b></td>
		</thead>
<tr>
    <td>{{botiga.nom_botiga }}</td>
    <td>{{botiga.tipus_botiga}}</td>
    <td>{{botiga.id}}</td>
    <td>{{botiga.user}}</td>
    <td>{{botiga.date}}</td>
</tr>
</table>

<h1>
Marques
    {% if user %}
        (<a href="{% url 'icommerce:marca_create' %}">add</a>)
    {% endif %}
</h1>

    {% for marca in botiga.marcas.all %}
        <li><a href="{% url 'icommerce:marca_detail' marca.id 'html' %}">
            {{marca.id}}-{{ marca.nom_marca }}</a></li>

    {% empty %}<li>Disculpa, cap marca diponible en aquesta botiga.</li>



    {% endfor %}

<h1>
Peces
    {% if user %}
        (<a href="{% url 'icommerce:pesa_create' %}">add</a>)
    {% endif %}
</h1>

    {% for pesa in botiga.botigpesas.all %}

        <li><a href="{% url 'icommerce:pesa_detail' pesa.id 'html' %}">
            {{pesa.id}}-{{ pesa.nom_pesa }}</a></li>

    {% empty %}<li>Disculpa,encara no hi ha peces d'aquesta marca en aquesta botiga.</li>
    {% endfor %}

<h1>
Ciutats
    {% if user %}
        (<a href="{% url 'icommerce:ciutat_create' %}">add</a>)
    {% endif %}
</h1>


    {% for ciutat in botiga.ciutats.all %}
        <li><a href="{% url 'icommerce:ciutat_detail' ciutat.id 'html' %}">
            {{ciutat.id}}-{{ ciutat.nom_ciutat }}</a></li>

    {% empty %}<li>Disculpa,la botiga no esta en cap ciutat.</li>

    {% endfor %}

</body>
{% endblock %}
