{% extends "icommerce/base.html" %}
{% block content %}
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
</style>
</head>

<body>
<h1>
    {{ciutat.nom_ciutat }}
    {% if user == ciutat.user %}
        (<a href="{% url 'icommerce:ciutat_edit' ciutat.id%}">edit</a>)
    {% endif %}
</h1>
<h2>Detalls:</h2>
<table style="width: 100%">
		<thead>
			<td><b>Id Ciutat</b></td>
			<td><b>Nom</b></td>
			<td><b>calle</b></td>
			<td><b>Moneda</b></td>
		</thead>
    <tr>
        <td>{{ciutat.id}}</td>
        <td>{{ciutat.nom_ciutat}}</td>
		<td>{{ciutat.calle}}</td>
        <td>{{ciutat.moneda}}</td>
    </tr>
</table>
</body>
{% endblock %}