{% extends "icommerce/base.html" %}
{% block content %}
    <head>
    {% load staticfiles%}
    </head>
<body>

<h1>
    {{ciutat.nom_ciutat }}
    {% if user == ciutat.user %}
        (<a href="{% url 'icommerce:ciutat_edit' ciutat.id%}">edit</a>)
        (<a href="{% url 'icommerce:ciutat_delete' ciutat.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Detalls de la ciutat {{ object }} :</h2>
<table>
		<thead>
			<td><b>Identificador Ciutat</b></td>
			<td><b>Nom</b></td>
			<td><b>Carrer</b></td>
			<td><b>Moneda</b></td>
		</thead>
    <tr>
        <td>{{ciutat.id}}</td>
        <td>{{ciutat.nom_ciutat}}</td>
		<td>{{ciutat.calle}}</td>
        <td>{{ciutat.moneda}}</td>
    </tr>
</table>
</body>
{% endblock %}