{% extends "icommerce/base.html" %}
{% block content %}
{% load staticfiles %}

 <script>
        $(function() {
            $.getJSON("{% static "countries.json" %}", {}, function (countries) {
                $("#id_pais").autocomplete({
                    source: countries
                });
            });

            $("#id_nom_ciutat").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "tandy"
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,

                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_regio").val(ui.item.stateOrProvince);
                        $("#id_pais").val(ui.item.countryName);
                    }
                }
            });
        });
    </script>


    <body>
        <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>

                <input type="submit" value="Crea i/o modifica"/>
                <input type="button" onclick="history.back()" value="Cancel·la"/>
        </form>
    </body>

{% endblock %}