{% extends "icommerce/base.html" %}
{% block content %}
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
</style>
</head>

<body>
<h2>Marca details:</h2>
<table style="width: 100%">
		<thead>
			<td><b>Id Marca</b></td>
			<td><b>Nom</b></td>
			<td><b>User</b></td>
			<td><b>Descripcio</b></td>
            <td><b>data</b></td>
		</thead>
    <tr>
        <td>{{marca.id}}</td>
        <td>{{marca.nom_marca}}</td>
        <td>{{marca.user}}</td>
        <td>{{marca.descripcio}}</td>
        <td>{{marca.date}}</td>
    </tr>
</table>

<h2>Botigues</h2>


{% for botiga in marca.botigas.all %}
    <li><a href="{% url 'icommerce:botiga_detail' botiga.id 'html' %}">
        {{botiga.id}}-{{ botiga.nom_botiga }}</a></li>

{% empty %}<li>Disculpa, aquesta marca no està diponible a cap botiga.</li>



{% endfor %}



</body>
{% endblock %}

