{% extends "icommerce/base.html" %}
{% block content %}
<head>
</head>

<body>

<h1>
    {{marca.nom_marca }}
    {% if user == marca.user %}
        (<a href="{% url 'icommerce:marca_edit' marca.id %}">Edita</a>)
        (<a href="{% url 'icommerce:marca_delete' marca.id %}">Esborra</a>)
    {% endif %}
</h1>

<h2>Detalls de la marca {{ object }}:</h2>
<table>
		<thead>
			<td><b>Identificador Marca</b></td>
			<td><b>Nom</b></td>
			<td><b>Usuari</b></td>
			<td><b>Descripció</b></td>
            <td><b>Data</b></td>
		</thead>
    <tr>
        <td>{{marca.id}}</td>
        <td>{{marca.nom_marca}}</td>
        <td>{{marca.user}}</td>
        <td>{{marca.descripcio}}</td>
        <td>{{marca.date}}</td>
    </tr>
</table>

<h2> La marca {{ object }} es troba en  botigues:</h2>


{% for botiga in marca.botigas.all %}
    {% if marca.marcas != botiga.id %}
    <li><a href="{% url 'icommerce:botiga_detail' botiga.id 'html' %}">
        {{ botiga.nom_botiga }}</a></li>
    {% endif %}

{% empty %}<li>Disculpa, aquesta marca no està diponible a cap botiga.</li>
{% endfor %}



</body>
{% endblock %}

