{% extends "icommerce/base.html" %}
{% block content %}
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
</style>
</head>

<body>
<h2>Marca details:</h2>
<table style="width: 100%">
		<thead>
			<td><b>Id Marca</b></td>
			<td><b>Nom</b></td>
			<td><b>User</b></td>
			<td><b>Descripcio</b></td>
            <td><b>data</b></td>
		</thead>
    <tr>
        <td>{{marca.id}}</td>
        <td>{{marca.nom_marca}}</td>
        <td>{{marca.user}}</td>
        <td>{{marca.descripcio}}</td>
        <td>{{marca.date}}</td>
    </tr>
</table>
</body>
{% endblock %}

