{% extends "icommerce/base.html" %}
{% block title %}Tandy - {{pesa.nom_pesa }}{% endblock %}
{% block content %}
<head>
</head>
<body>
<span vocab="http://schema.org/" typeof="Pesa">
    <h1>
    <span property="nom_pesa">{{ pesa.nom_pesa }}</span>
        {{pesa.nom_pesa }}
    {% if user == pesa.user %}
        (<a href="{% url 'icommerce:pesa_edit' pesa.id %}">Edita</a>)
        (<a href="{% url 'icommerce:pesa_delete' pesa.id %}">Esborra</a>)
    {% endif %}
</h1>
<p>{{pesa.descripcio}}</p>
{%if pesa.image%}

				<p><img	src="{{pesa.image.url}}"/></p>
{%endif%}

</h1>

<h2>Detalls de la pesa {{ object }}:</h2>
<table>
    <thead>
        <td><b>id pesa</b></td>
        <td><b>Nom pesa</b></td>
        <td><b>Tipus</b></td>
        <td><b>Color</b></td>
        <td><b>Talla</b></td>
        <td><b>Preu</b></td>
        <td><b>Descripció</b></td>
        <td><b>Usuari</b></td>

    </thead>

    <tr>
        <td>{{pesa.id }}</td>
        <td>{{pesa.nom_pesa }}</td>
        <td>{{pesa.tipus}}</td>
        <td>{{pesa.colors}}</td>
        <td>{{pesa.talla}}</td>
        <td>{{pesa.preu}}</td>
        <td>{{pesa.descripcio}}</td>
        <td>{{pesa.user}}</td>

    </tr>
</table>

</span>
</body>
{% endblock %}